.title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.title-diff {
	-fx-font-size: 26px;
    -fx-font-weight: bold;
}

.button {
	-fx-min-width: 130px;
    -fx-min-height: 40px;
    -fx-font-size: 16px;
}